
body{
    display: flex;
    background: #5f5757;
}

.image{
    width: 100%;
    height: 100vh;
}

#bx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 40px;
    /* background: forestgreen; */
}

h1{
    font-size: 70px;
    color: #c1854e;
    /* background: firebrick; */
    /* text-align: center; */
}

#p{
    background: #ff7a00;
    margin: auto;
    height: auto;
    padding: 0 2px;
    text-align: start;
}

.propos{
    background: #14213d;
    width: auto;
    height: auto;
    padding: 5px;
}

h2, p, ul{
    color: #fff;
}